* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

.loader {
  width: 100%;
  height: 100vh;
  background: black;
  position: fixed;
  z-index: 99;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader h1 {
  font-size: 3rem;
  color: white;

}

.page1 {
  width: 100%;
  min-height: 100vh;
  background-image: url('https://images.unsplash.com/photo-1520763185298-1b434c919102?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8OXx8Zmxvd2VyJTIwcmlnaHQlMjBzaWRlfGVufDB8fDB8fHww');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 1vw 6vw;
}

nav {
  width: 100%;
  /* background: red; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

nav .logo h2 {
  font-size: 2rem;
}


nav .center ul {
  display: flex;
  gap: 2rem;
}

nav .center ul li {
  list-style: none;
  text-transform: capitalize;
  position: relative;
  cursor: pointer;

}

nav .center ul li::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  background: black;
  width: 0%;
  height: 10%;
  transition: all 0.1s ease-in;

}

nav .center ul li:hover:after {
  width: 100%;

}

nav .right i {
  margin: 0 1.5rem;
}

.hero {
  width: 100%;
  margin-top: 8rem;
  flex-direction: column;
}

.hero h1 {
  font-size: 6vw;
  text-transform: uppercase;
  letter-spacing: 8px;
  /* opacity: 1; */
}

.hero p {
  width: 40vw;
  margin: 1rem 0;
}

.hero a {
  padding: 10px 20px;
  text-decoration: none;
  color: white;
  border-radius: 30px;
  background: rgb(0, 53, 0);
  font-size: 1.2rem;
  margin: 2rem 0;
}

.bottom {
  width: 50vw;
  margin-top: 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.box {
  width: 16.67vw;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.box i {
  font-size: 2rem;
  color: green;
}


.page2 {
  width: 100%;
  height: 100vh;
  background: rgba(231, 97, 180, 0.541);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5rem;
}




.page3 {
  width: 100%;
  height: 100vh;
  background: blue;
  display: flex;
  justify-content: center;
  align-items: center;

}

.page2 h1 {
  /* white-space: nowrap; */
  font-size: 10vw;
}